body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 315px;
    border: 6px solid rgb(37, 37, 37);
    padding: 2px;
    justify-content: center;
    background-color: rgb(200, 200, 200);
}

.display-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    margin: 2px;
}

.display {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    line-height: 10px;
    padding-right: 5px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin: 0px;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

button {
    flex-grow: 1;
    font-size: 17px;
    margin: 2px;
    flex-basis: 50px;
    background-color: white;
    border: 1px solid black;
}


.fifth-row button{
    flex-grow: 1;
}

.fifth-row .number-0 {
    flex-grow: 4.3;
}